<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<div *ngIf="!isLoading">

  <div *ngIf="customer">
    <h1>Заказчик - {{customer.company}}</h1>
  </div>
  <div *ngIf="!orders.length">
    <h1>Нет заказов</h1>
  </div>
  <div *ngIf="orders.length">
    <div class="form-control">
      <!--    <input type="text" placeholder="Search post by title..." [(ngModel)]="searchStr">-->
    </div>
    <table>
      <thead>
      <tr>
        <th style="width: 30px">№</th>
        <th>Тип услуги</th>
        <th>Срок оказания услгуи</th>
        <th class="small">Редактировать</th>
        <th class="small">Удалить</th>
      </tr>
      </thead>
      <tbody>
      <!--    <tr *ngFor="let post of posts | searchPosts:searchStr; let i = index">-->
      <tr *ngFor="let order of orders ; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ order.serviceType }}</td>
        <td class="text-center">
          <div *ngIf="order.date">{{ order.date}}</div>
          <div *ngIf="!order.date">Нет даты</div>
        </td>
        <!--            <td>{{ post.date | date: 'full':null: 'vi' }}</td>-->
        <td class="text-center">
          <button
            class="btn btn-link open"
            [routerLink]="['/edit/order', order.id]"
          ><i class="far fa-edit" style="font-size: 20px"></i>
          </button>
        </td>
        <td class="text-center">
          <a (click)="removeOrder(order.id)"><i class="far fa-trash-alt" style="font-size: 20px; color: black"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div style="width: 100%; padding: 10px;" *ngIf="customer">
    <button
      type="submit"
      class="btn btn-dark btn-block" style="margin: 0 auto; width: 25%"
      [routerLink]="['/create','order', customer.id]"
    >Добавить заказ
    </button>
  </div>

</div>
