<form [formGroup]="form" (ngSubmit)="submit()" *ngIf="form; else loading">
  <h1 *ngIf="customer && !customersList">Создать новый заказ для {{customer.company}}</h1>
  <h1 *ngIf="customersList">Создать новый заказ</h1>

  <div
    class="form-control" style="width: 500px; margin: 0 auto;"
    [ngClass]="{invalid: form.get('idCustomer').touched && form.get('idCustomer').invalid}"
  >
    <label>Компания:</label>
    <!--    <input type="text" formControlName="company" [readOnly]="customer" *ngIf="customer">-->
    <select formControlName="idCustomer" *ngIf="customer && !customersList">
      <option [value]="customer.id">{{customer.company}}</option>
    </select>
    <select formControlName="idCustomer" *ngIf="customersList" (change)="onChangeCompany()">
      <option value="" disabled>Выбрать компанию</option>
      <option *ngFor="let customer of customersList" [ngValue]="customer.id">{{customer.company}}</option>
    </select>
  </div>

  <div class="form-control" style="width: 500px; margin: 0 auto;">
    <label for="date">Срок оказания услуги:</label>
    <input type="text" id="date"
           formControlName="date"
           [bsConfig]="bsConfig"
           bsDaterangepicker>
  </div>

  <div
    class="form-control" style="width: 500px; margin: 0 auto;"
    [ngClass]="{invalid: form.get('serviceType').touched && form.get('serviceType').invalid}"
  >
    <label for="serviceType">Тип услуги:</label>
    <!--    <input type="text" id="serviceType" formControlName="serviceType">-->
    <select id="serviceType" formControlName="serviceType" (change)="onChangeType()">
      <option value="" disabled>Выбрать услугу</option>
      <option *ngFor="let type of serviceTypes" [ngValue]="type.en">{{type.ru}}</option>
    </select>
  </div>

  <div *ngIf="form.value.serviceType !== ''" style="margin-top: 0.3rem">
    <table formArrayName="tasks">
      <thead>
      <tr>
        <th>Планирование часов</th>
        <th>Специалист</th>
        <th>Запланировано часов на месяц</th>
        <th>Удалить</th>
      </tr>
      </thead>
      <tbody *ngFor="let item of controls; let i = index">
      <tr class="form-control-tb" [ngClass]="{invalid: item.touched && item.invalid}">
        <td>
          <label [for]="i">{{taskList[i].name}}</label>
        </td>
        <td class="text-center">{{taskList[i].specialist}}</td>
        <td>
          <input type="number" [id]="i" [formControlName]="i" min="0" (change)="calculate_sum_hours()">
        </td>
        <td class="text-center">
          <a (click)="deleteTask(i)"><i class="fas fa-times" style="font-size: 20px; color: black"></i></a>
        </td>
      </tr>
      </tbody>
      <tr class="" [formGroup]="formTask">
        <td>
          <input type="text" formControlName="name">
        </td>
        <td>
          <select id="" formControlName="specialist">
            <option value="" disabled>Выбрать специалиста</option>
            <option *ngFor="let empl of employees" [ngValue]="empl.specialist">{{empl.specialist}}</option>
          </select>
        </td>
        <td>
          <input type="number" formControlName="setHour" min="0">
        </td>
        <td class="text-center">
          <button class="btn" style="background-color: white"
                  [disabled]="formTask.invalid"
                  (click)="addNewTask()">
            <i class="fas fa-plus" style="font-size: 20px; color: green"></i>
          </button>
        </td>
      </tr>
      <tr class="" style="font-weight: bold;">
        <td colspan="2">ИТОГО запланировано нормачасов:</td>
        <td class="text-center" style="font-size: 1.2rem">{{ sumHours | number: '1.2-2' }} BYN</td>
      </tr>
      <tr class="" style="background-color: #d3ffb5; font-weight: bold;">
        <td colspan="2">Стоимость к оплате:</td>
        <td class="text-center" style="font-size: 1.2rem">{{ sumHours * 36.95 | number: '1.2-2'}} BYN</td>
      </tr>
    </table>
  </div>

  <button
    type="submit" style="width: 500px; margin: 3px auto;"
    class="btn btn-block btn-dark"
    [disabled]="form.invalid"
  >Создать заказ
  </button>

</form>
<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
