<div *ngIf="form; else loading">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <h1>Корректировать заказ</h1>

    <div
      class="form-control"
      [ngClass]="{invalid: form.get('company').touched && form.get('company').invalid}"
    >
      <label for="company">Компания:</label>
      <input type="text" id="company" formControlName="company" readonly>
      <div
        *ngIf="form.get('company').touched && form.get('company').invalid"
        class="validation"
      >
        <small *ngIf="form.get('company').errors.required">Введите ФИО</small>
        <!--      <small *ngIf="form.get('title').errors.email">Enter email correctly</small>-->
      </div>
    </div>

    <div class="form-control">
      <label for="date">Срок оказания услуги:</label>
      <input type="text" id="date"
             formControlName="date"
             [bsConfig]="bsConfig"
             bsDaterangepicker>
    </div>

    <div
      class="form-control"
      [ngClass]="{invalid: form.get('serviceType').touched && form.get('serviceType').invalid}"
    >
      <label for="serviceType">Тип услуги:</label>
      <!--    <input type="text" id="serviceType" formControlName="serviceType">-->
      <select id="serviceType" formControlName="serviceType" (change)="onChangeType()">
        <option value="" disabled>Выбрать услугу</option>
        <option *ngFor="let type of serviceTypes" [ngValue]="type.en">{{type.ru}}</option>
      </select>
    </div>
    <div *ngIf="form.value.serviceType !== ''">
      <table>
        <thead>
        <tr>
          <th>Планирование часов</th>
          <th>Запланировано часов на месяц</th>
        </tr>
        </thead>
        <tbody *ngFor="let item of list">
        <tr class="form-control-tb" [ngClass]="{invalid: form.get(item.en).touched && form.get(item.en).invalid}">
          <td>
            <label [for]="item.en">{{item.ru}}</label>
          </td>
          <td>
            <input type="number" [id]="item.en" [formControlName]="item.en" min="0" (change)="calculate_sum_hours()">
          </td>
        </tr>
        </tbody>
        <tr class="">
          <td>ИТОГО запланировано нормачасов на месяц:</td>
          <td class="text-center" style="font-size: 1.2rem">{{ sumHours }}</td>
        </tr>
        <tr class="" style="background-color: #d3ffb5">
          <td>Стоимость к оплате:</td>
          <td class="text-center" style="font-size: 1.2rem">{{ sumHours * 36.95 | number}}</td>
        </tr>
      </table>
    </div>

<!--    <div *ngIf="form.value.serviceType !== ''">-->
<!--      <button type="button" class="btn btn-block" style="margin: 0 auto; width: 50%"-->
<!--              [disabled]="checkValues()"-->
<!--              (click)="calculate()"-->
<!--      >-->
<!--        Посчитать цену-->
<!--      </button>-->
<!--    </div>-->

<!--    <div-->
<!--      class="form-control"-->
<!--      [ngClass]="{invalid: form.get('price').touched && form.get('price').invalid}"-->
<!--    >-->
<!--      <label for="price">Стоимость к оплате:</label>-->
<!--      <input type="number" id="price" formControlName="price" readonly>-->
<!--    </div>-->

  <div style="padding: 3px">
    <button
      type="submit"
      class="btn btn-block btn-dark" style="margin: 0 auto; width: 50%"
      [disabled]="form.invalid"
    >Обновить заказ
    </button>

  </div>

  </form>
</div>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
