<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<div *ngIf="!customers.length && !isLoading">
  <h1>Нет заказчиков</h1>
</div>
<div *ngIf="customers.length && !isLoading">
  <div class="form-control">
    <!--    <input type="text" placeholder="Search post by title..." [(ngModel)]="searchStr">-->
  </div>
  <table>
    <thead>
    <tr>
      <th style="width: 30px">№</th>
      <th>Заказчик</th>
      <th>Количество заказов</th>
<!--      <th>Срок оказания услгуи</th>-->
      <th class="small">Редактировать</th>
      <th class="small">Удалить</th>
    </tr>
    </thead>
    <tbody>
    <!--    <tr *ngFor="let post of posts | searchPosts:searchStr; let i = index">-->
    <tr *ngFor="let customer of customers ; let i = index">
      <td>{{ i + 1 }}</td>
      <td><a [routerLink]="['/dashboard', customer.id]">{{ customer.company }}</a></td>
      <td class="text-center">
        <div *ngIf="customer.count > 0">{{ customer.count}}</div>
        <div *ngIf="customer.count === 0 || !customer.count">Нет заказов</div>
      </td>
      <!--      <td>{{ post.date | date: 'full':null: 'vi' }}</td>-->
      <td class="text-center">
        <button
          class="btn btn-link open"
          [routerLink]="['/edit/customer', customer.id]"
        ><i class="far fa-edit" style="font-size: 20px"></i>
        </button>
      </td>
      <td class="text-center">
        <a (click)="removeCustomer(customer.id)"><i class="far fa-trash-alt" style="font-size: 20px; color: black"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

